.card {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    max-width: 100%;
    width: 16%;
    margin: 5px;
}

.name {
    margin: auto;
}

.close {
    align-self: flex-end;
    cursor: pointer;
    margin: 2px 2px;
    background-color: red;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    width: 20px;
    height: 20px;
}

.icon {
    align-self: center;
    height: 50%;
    width: 50%;
}

.temps {
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
}