.cardContainer {
    display: flex;
    justify-content: center;
    max-width: 100%;
    flex-wrap: wrap;
}

.message {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
}

.card {
    margin-left: 40px;
    margin-right: 40px;
}

.loader {
    align-self: center;
}