.input {
    font-family: 'Poppins', sans-serif;
    background-color: #0c054a;
    height: 1.6em;
    color: #fff;
    border-width: 1px;
    border-style: none;
    border-bottom: solid;
    border-color: #fff;
    margin-right: 12px;
    margin-left: -45px;
}

input:focus {
    outline: none;
}

.btn {
    font-family: 'Poppins', sans-serif;
    margin-top: 0.4rem;
    cursor: pointer;
    font-weight: bold;
    border-width: 0px;
    background-color: goldenrod;
    color: #fff;
    border-radius: 4px;
    height: 1.80em
}