.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.brandName {
    font-family: 'Comforter Brush', cursive;
    font-size: 32px;
    margin: 4px;
    color: #fff;
}

.searchBarDiv {
    align-self: center;
    justify-self: flex-start;
}